*{ 
margin: 0;
padding: 0;

}

body{
background-color: rgb(238, 244, 245);
color:black;
text-align: center;
margin: 0px;
margin-bottom: 100px;
}

heaser{

background-color: antiquewhite;
color: ;
text-align: center;
padding: 20xp;

}



